@each $days in $daysOfTheMonth {
  @for $i from 1 through $days {
    .calendar-#{$days} > div:nth-child(#{$i}) {
      display: block;

      &::before {
        content: "#{$i}";
      }
    }
  }
}

@each $firstDay, $coef in $firstDays {
  .calendar-#{$firstDay} > div:first-child {
    margin-left: $gapForFirstDay * $coef + ($dayGap * $coef);
  }
}
